body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Verdana", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 13px;
}

.card {
  border: none;
}

h5 {
  font-weight: 700;
}

a {
  color: #2664d0;
}

span.label {
  font-weight: 900;
}
.card-title,
.card-text {
  margin-bottom: 0 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
