body {
  margin: 50px 100px;
  font-family: -apple-system, BlinkMacSystemFont, "Verdana", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 13px;
}

navbar ul {
  list-style: none;
  font-size: 18px;
  padding-inline-start: 0;
}

navbar li {
  display: inline;
  padding-inline-start: 20px;
  padding-inline-end: 20px;
}

.card {
  border: none;
}
h1 {
  padding-bottom: 20px;
}
h1 a {
  color: #000000;
}

h2 {
  color: #979797;
}

h5 {
  font-weight: 700;
  font-size: 13px;
}

a {
  color: #1055cc;
}

span.label {
  font-weight: 900;
}
.card-title,
.card-text {
  margin-bottom: 0 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media (max-width: 950px) {
  navbar li {
    padding-bottom: 10px;
    padding-inline-start: 10px;
    padding-inline-end: 10px;
    display: block;
  }
}
